@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: 0, 0, 0;
  --background-start-color: rgb(214, 219, 220);
  --background-end-color: rgb(255, 255, 255);
}

html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  color: var(--foreground-color);
  background: linear-gradient(
      to bottom,
      transparent,
      var(--background-end-color)
    )
    var(--background-start-color);
}
